{% extends "admin/base_site.html" %}

{% block extrastyle %}{{ block.super }}
<style>

    #main {
        max-width: 60%;
        padding: 0% 20%;
    }

    .fieldBox.field-delimiter input {
        width: 20px;
    }

    .datetime > br {
        display: none;
    }

    /* disables unnecessary button 'save-and-continue-editing'*/
    input[name="_continue"] {
        display: none;
    }

    #rdm-logo {
        margin-top: 50px;
        height: 70px;
    }

    #info_text {
        margin-top: 100px;
        text-align: center;
    }

</style>
{% endblock %}
