{% extends "admin/base_site.html" %}

{% block content %}

<div id="info_text">
    <p>This product is developed by Research Data Management (RDM) at Helmholtz Centre of Environmental Research - UFZ as part of the new Timeseries Infrastructure.</p>
    <p>Please contact the <a href="mailto:rdm-contact@ufz.de">RDM-Team</a> in case of content-related or technical questions.</p>

    <a href="https://www.ufz.de/rdm" target="_blank">
        <img id="rdm-logo" src="/static/259253_RDM_subline_fullcolor_rgb.png" alt="RDM">
    </a>
</div>

{% endblock %}
